@model User_Client
@{
    ViewData["Title"] = "Edit_UserClient";
    Layout ="_Client_Services";
}


<form asp-controller="User_Client" asp-action="Edit_UserClient" method="post" style="margin-top:5%">
    <input type="hidden" asp-for="User_ClientID" style="width:50%" />
    <div class="form-group">
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" style="width:50%" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" style="width:50%" class="form-control" />
    </div>
    <div class="form-group">
        <label>Comfirm Password</label>
        <input asp-for="Password" type="password" style="width:50%" class="form-control" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <label asp-for="Name"></label>
        <input asp-for="Name" style="width:50%" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" style="width:50%" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Street"></label>
<textarea asp-for="Street" class="form-control" style="width:50%"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Postcode"></label>
        <input asp-for="Postcode" class="form-control" style="width:50%" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="Phone" class="text-danger"></span></div>
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" style="width:50%" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Edit_UserClient" class="btn btn-secondary">Cancel</a>
    </div>
</form>
