


@{
    ViewData["Title"] = "Index";
}

<div class="pos-f-t">
    <!--Sign up modal code-->
    <div class="modal fade" id="SignupForm" tabindex="-1" role="dialog" aria-labelledby="mySignUpForm" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fa fa-user prefix grey-text" style="color:#ff6666"></i>
                        <input type="text" id="orangeForm-name" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="orangeForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="orangeForm-pass" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-deep-orange">Sign up</button>
                </div>
            </div>
        </div>
    </div>

    <!---->
    <!--Login Modal Code-->
    <div class="modal fade" id="LoginForm" tabindex="-1" role="dialog" aria-labelledby="myLoginForm" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="defaultForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default">Login</button>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class=" container mt-3">
        <div>

            <div class="row" style="margin-bottom:3%; margin-left:80%">

                <div class=col-md-3 style="padding-right:10%; padding-bottom:15%">
                    <a href="" class="btn btn-default glyphicon glyphicon-user" data-toggle="modal" data-target="#SignupForm">SignUp</a>
                </div>
                <div class=col-md-3>
                    <a href="" class="btn btn-default glyphicon glyphicon-log-in" data-toggle="modal" data-target="#LoginForm">Login</a>
                </div>
            </div>
        </div>
        <form>
            <div class="row-md-12">
                <div class="input-group mb-5">

                    <input type="text" class="form-control" placeholder="Service/Vendor">

                    <input type="text" class="form-control" placeholder="City">


                    <input type="text" class="form-control" placeholder="Date">

                    <input type="text" class="form-control" placeholder="Time">

                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div>
            </div>
        </form>


        <div class="row">
            <div style="text-align:center">
                <div class="col-md-3">
                    <div style="margin:0px">
                        <div class="thumbnail">
                            <div class="img"><a href="#"><img src="~/Assets/img/stjohns.jpg" alt="stjohns"></a></div>
                            <div class="caption">
                                <h4>Business Name</h4>
                                <p>Services Name</p>
                                <p id="price">$$</p>
                                <a class="btn btn-mini" href="/Home/BusinessPage">Book Appointment</a>
                                <div id="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div style="margin:0px">
                        <div class="thumbnail">
                            <div class="img"><a href="#"><img src="~/Assets/img/stjohns.jpg" alt="stjohns"></a></div>
                            <div class="caption">
                                <h4>Business Name</h4>
                                <p>Services Name</p>
                                <p id="price">$$</p>
                                <a class="btn btn-mini" href="/Home/BusinessPage">Book Appointment</a>
                                <div id="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div style="margin:0px">
                        <div class="thumbnail">
                            <div class="img"><a href="#"><img src="~/Assets/img/stjohns.jpg" alt="stjohns"></a></div>
                            <div class="caption">
                                <h4>Business Name</h4>
                                <p>Services Name</p>
                                <p id="price">$$</p>
                                <a class="btn btn-mini" href="/Home/BusinessPage">Book Appointment</a>
                                <div id="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div style="margin:0px">
                        <div class="thumbnail">
                            <div class="img"><a href="#"><img src="~/Assets/img/stjohns.jpg" alt="stjohns"></a></div>
                            <div class="caption">
                                <h4>Business Name</h4>
                                <p>Services Name</p>
                                <p id="price">$$</p>
                                <a class="btn btn-mini" href="/Home/BusinessPage">Book Appointment</a>
                                <div id="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="slideshow" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div style="margin:0px">
                        <div class="thumbnail">
                            <div class="img"><a href="#"><img src="~/Assets/img/stjohns.jpg" alt="stjohns"></a></div>
                            <div class="caption">
                                <h4>Business Name</h4>
                                <p>Services Name</p>
                                <p id="price">$$</p>
                                <a class="btn btn-mini" href="/Home/BusinessPage">Book Appointment</a>
                                <div id="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="margin: 0px">
                        <div class="thumbnail">
                            <div class="img"><a href="#"><img src="~/Assets/img/stjohns.jpg" alt="stjohns"></a></div>
                            <div class="caption">
                                <h4>Business Name</h4>
                                <p>Services Name</p>
                                <p id="price">$$</p>
                                <a class="btn btn-mini" href="/Home/BusinessPage">Book Appointment</a>
                                <div id="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="margin: 0px">
                        <div class="thumbnail">
                            <div class="img"><a href="#"><img src="~/Assets/img/stjohns.jpg" alt="stjohns"></a></div>
                            <div class="caption">
                                <h4>Business Name</h4>
                                <p>Services Name</p>
                                <p id="price">$$</p>
                                <a class="btn btn-mini" href="/Home/BusinessPage">Book Appointment</a>
                                <div id="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="margin: 0px">
                        <div class="thumbnail">
                            <div class="img"><a href="#"><img src="~/Assets/img/stjohns.jpg" alt="stjohns"></a></div>
                            <div class="caption">
                                <h4>Business Name</h4>
                                <p>Services Name</p>
                                <p id="price">$$</p>
                                <a class="btn btn-mini" href="/Home/BusinessPage">Book Appointment</a>
                                <div id="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div style="margin: 0px">
                        <div class="thumbnail">
                            <div class="img"><a href="#"><img src="~/Assets/img/stjohns.jpg" alt="stjohns"></a></div>
                            <div class="caption">
                                <h4>Business Name</h4>
                                <p>Services Name</p>
                                <p id="price">$$</p>
                                <a class="btn btn-mini" href="/Home/BusinessPage">Book Appointment</a>
                                <div id="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#slideshow" data-slide="prev"></a>
            <a class="carousel-control-next" href="#slideshow" date-slide="next"></a>
        </div>
    </div>
</div>


